.item-cost {
    display: flex;
    justify-content: space-between;
    color: #C51E34;
    font-size: 25px;
    margin-bottom: 15px;
    text-shadow: 
    -0   -1px 1px #000000,
     0   -1px 1px #000000,
    -0    1px 1px #000000,
     0    1px 1px #000000,
    -1px -0   1px #000000,
     1px -0   1px #000000,
    -1px  0   1px #000000,
     1px  0   1px #000000,
    -1px -1px 1px #000000,
     1px -1px 1px #000000,
    -1px  1px 1px #000000,
     1px  1px 1px #000000,
    -1px -1px 1px #000000,
     1px -1px 1px #000000,
    -1px  1px 1px #000000,
     1px  1px 1px #000000;

}

.item-name {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;

}

.item-desc {
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;

}

.add-button { 
    font-size: 20px;
    font-weight: bold;
    transition: 200ms;
}

.add-button:active {
    transform: scale(110%)
}

.a1 {
    display: flex;
    justify-content: space-between;
}

.a2 {
    width: 70%;
}

.a3 {
   text-align: center;
}