.structure {
    display: flex;
    justify-content: space-between;
}

.name {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: bold;
}

.cost {
    margin-right: 1em;
    font-size: 1.5em;
    color: #C51E34;
    text-shadow: 
    -0   -1px 1px #000000,
     0   -1px 1px #000000,
    -0    1px 1px #000000,
     0    1px 1px #000000,
    -1px -0   1px #000000,
     1px -0   1px #000000,
    -1px  0   1px #000000,
     1px  0   1px #000000,
    -1px -1px 1px #000000,
     1px -1px 1px #000000,
    -1px  1px 1px #000000,
     1px  1px 1px #000000,
    -1px -1px 1px #000000,
     1px -1px 1px #000000,
    -1px  1px 1px #000000,
     1px  1px 1px #000000;
}