.item-cost {
    display: flex;
    justify-content: space-between;
    color: #C51E34;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-shadow: 
    -0   -1px 1px #000000,
     0   -1px 1px #000000,
    -0    1px 1px #000000,
     0    1px 1px #000000,
    -1px -0   1px #000000,
     1px -0   1px #000000,
    -1px  0   1px #000000,
     1px  0   1px #000000,
    -1px -1px 1px #000000,
     1px -1px 1px #000000,
    -1px  1px 1px #000000,
     1px  1px 1px #000000,
    -1px -1px 1px #000000,
     1px -1px 1px #000000,
    -1px  1px 1px #000000,
     1px  1px 1px #000000;
     border: 1px solid pink;
}

.item-name {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    border: 1px solid green;
}

.item-desc {
    font-size: 1em;
    font-style: italic;
    margin-bottom: 0.5em;
    border: 1px solid blue;
}

.add-button { 
    font-size: 1.3rem;
    font-weight: bold;
}

.button-plus-minus {
    margin-left: 1em;
}

.a1 {
    display: flex;
    justify-content: space-between;
}

.a2 {
    width: 70%;
}

.a3 {

}

.a4 {
    border: 1px solid black;
   text-align: right;
}